/* For homepage only */

.profile-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-pic {
    max-width: 100%;
    height: auto;
    width: 480px;
    flex-shrink: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2.description, p.description {
    margin-bottom: 8px;
    margin-top: 8px;
}

p.description {
    font-size: 16px;
    color: lightgray;
}

h2.description {
    font-size: 48px;
}

.rainbow-text {
    background-image: linear-gradient(90deg, rgba(255,59,116,1) 5%, rgba(226,47,177,1) 32%, rgba(210,53,233,1) 58%, rgba(135,70,187,1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 0, 0.2);
}

/* Ensure no margin is added to the last description element */
.text-container > :last-child {
    margin-bottom: 0;
}


.clock-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between clock and switch */
    margin-top: 2rem;
}

.clock-link {
    text-decoration: none;
    display: block;
}

.clock-iframe {
    height: 100px;
    border: none;
    display: block;
    pointer-events: none;
}

.switch-container {
    flex-shrink: 0; /* Prevents the switch from shrinking */
}

.mode-switch-checkbox {
    display: none; /* Hides the actual checkbox */
}

.mode-switch-label {
    display: block;
    width: 50px;
    height: 24px;
    background-color: #343a40; /* Dark grey from clock */
    border: 1px solid #6c757d; /* Light grey from clock */
    border-radius: 13px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-switch-label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #f8f9fa; /* White from clock hands */
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.mode-switch-checkbox:checked + .mode-switch-label {
    background-color: #343a40; /* Active state color same as inactive state*/
}

.mode-switch-checkbox:checked + .mode-switch-label::before {
    transform: translateX(24px);
}
