/* For homepage only */

/* For the container holding the image and description */
.profile-container {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers the flex items */
}

/* For the image */
.profile-pic {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains aspect ratio */
    width: 480px; /* Sets the width of the image */
}

/* For the text container */
.text-container {
    display: flex;
    flex-direction: column; /* Stacks children elements vertically */
    margin-left: 32px; /* Space between image and text container */
}

/* For the description elements */
h2.description, p.description {
    margin-bottom: 8px; /* Adjust as needed */
    margin-top: 8px;
}

p.description {
    font-size: 16px;
    color: lightgray;
}

h2.description {
    font-size: 48px;
}

.rainbow-text {
    background-image: linear-gradient(90deg, rgba(255,59,116,1) 5%, rgba(226,47,177,1) 32%, rgba(210,53,233,1) 58%, rgba(135,70,187,1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Ensure no margin is added to the last description element */
.text-container > :last-child {
    margin-bottom: 0;
}
